footer.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background-color: black;
    height:  50px;
    color: blanchedalmond;
    position:absolute;
    bottom:0;
    width:100%;

}