footer.footer{
    align-items: center;
    justify-content: center;
    padding: 3px;
    background-color: black;
    color: blanchedalmond;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;

}